<div class="container">
    <div class="text-left pt-3 pb-3">
        <h4>Share Credentials</h4>
    </div>
    <table class="table  border border-1 border-warning shadow-lg p-3 mb-5 bg-body rounded">
        <thead>
          <tr >
            <th scope="col">#</th>
            <th scope="col">Medicine Name</th>
            <th scope="col">M.R.P</th>
            <th scope="col">Company Name</th>
            <th scope="col">MFG Date</th>
            <th scope="col">Exp Date</th>
            <th scope="col">Batch Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
</div>