<!-- <app-nav></app-nav> -->
<!-- <app-holder-login></app-holder-login> -->
<!-- <app-holdersignup></app-holdersignup> -->
<!-- <app-holder-table-page></app-holder-table-page> -->

<!-- <app-verifierlogin></app-verifierlogin> -->

<!-- <app-verifiersignup></app-verifiersignup> -->

<!-- <app-verifiertable></app-verifiertable> -->
<!-- isssuer -->
<!-- <app-loginpage></app-loginpage> -->
<!-- issuer -->
<!-- <app-signuppage></app-signuppage> -->
<!-- <app-tablepage></app-tablepage> -->

<router-outlet></router-outlet>