<div class="container pt-4 ">   
    <div class="row justify-content-center">
        <div class="col-xl-8 col-md-10">
            <form class="rounded shadow-5-strong p-5 border border-1 border-warning shadow-lg p-3 mb-5 bg-body rounded">
                <div class="text-left pb-1 pt-3 fw-bolder text-uppercase">
                    <h5>Share Credentials</h5>
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Enter Share Credentials Url</label>
                  <input type="text" class="form-control" id="example1" required  aria-describedby="emailHelp">
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-warning " type="button">Submit</button>
                </div>
              </form>
        </div>
    </div>
</div>