<app-nav></app-nav>
<div class="container home justify-content-center pt-4">
    <div class="row justify-content-center pt-4">
        <div class="col-md-4 col-12">
            <a routerLink="holder/login">
                <div class="shadow-lg p-3 mb-5 bg-body rounded text-center border border-1 border-warning" >
                    <img src="../../assets/img/undraw_Building_re_xfcm.svg" width="300"  alt="" srcset="">                    
                    <span class="text">HOLDER</span>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-12">
            <a routerLink="verifier/login">
                <div class="shadow-lg p-3 mb-5 bg-body rounded text-center border border-1 border-warning" >
                    <img src="../../assets/img/undraw_empty_cart_co35.svg" width="300"  alt="" srcset="">                    
                    <span class="text text-uppercase">Verifier</span>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-12">
            <a routerLink="issuer/login">
                <div class="shadow-lg p-3 mb-5 bg-body rounded text-center border border-1 border-warning" >
                    <img src="../../assets/img/undraw_business_deal_cpi9.svg" width="300"  alt="" srcset=""><br>                    
                    <span class="text text-uppercase">issuer</span>
                </div>
            </a>
        </div>
    </div>
</div>